<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Agregar Contacto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    <!-- FontAwesome para iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>
<body>
<div id="particles-js"></div>
    <div class="wrapper">
        <h2>Agregar Contacto</h2>
        <form method="post">
            <div class="input-box">
                <i class="fa fa-user icon"></i>
                <input type="text" class="input-box" name="nombre" placeholder="Nombre" required>
            </div>
            <div class="input-box">
                <i class="fa fa-phone icon"></i>
                <input type="text" name="telefono" placeholder="Teléfono" required>
            </div>
            <div class="input-box">
                <i class="fa fa-envelope icon"></i>
                <input type="email" name="correo" placeholder="Correo electrónico" required />
            </div>
            <input type="submit" value="Agregar" class="btn">
        </form>
        <a href="{{ url_for('contactos') }}" style="color: #ccc; display: block; text-align: center; margin-top: 15px;">Cancelar</a>
    </div>
<!-- Motor -->
<script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
<!-- Configuración -->
<script src="{{ url_for('static', filename='js/particulas.js') }}"></script>
</body>
</html>
